<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favourites Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Link stylesheets here-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/my-purchases.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Link scripts here-->
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <!-- Add the header -->
  <%- include('partials/_header') %>
  <br>

  <h2 style="text-align: center">Purchases History</h2>
  <br>

  <div class="purchases-container">
    <ul>
      <% for(const key in myPurchases) { %>

        <div class="purchase">
          <!-- Store purchase Id -->
          <% let purchaseId = myPurchases[key]["purchase_id"] %>

          <h3>Purchase <%= purchaseId %>: <%= myPurchases[key]["product_name"] %></h3>
          <a href=<%=`/product/${purchaseId}` %>> <img src=<%= myPurchases[key]["photo_url"] %> alt="Product" width="200"> </a> <br>
          <br>
          <b>Purchased By:</b> <%= myPurchases[key]["user_name"] %> <br>
          <br>
          <b>Purchase Date:</b> <%= myPurchases[key]["purchase_date"].toDateString() %> <br>
          <br>
        </div>
      <% } %>
    </ul>
  </div>

</body>

</html>
