<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Display Single Product Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link stylesheets here-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/product.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-- Font awesome-->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

    <!-- Link scripts here-->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/messages.js"></script>
    <script src="/scripts/stock.js"></script>
    <script src="/scripts/favourite.js"></script>
  </head>

  <body>
    <!-- Add the header -->
    <%- include('partials/_header') %>

    <div class="product-display">
      <div class="product-image">
        <div class="image">
          <img src=<%= product["photo_url"] %> alt="Product" width="500">
        </div>
      </div>

      <div class="product-info">

        <!-- Display the product name -->
        <h1><%= product["name"] %></h1>

        <div class="price-and-in-stock">
          <!-- Display the price -->
          <h2>$<%= product["price"] %>.00</h2>

          <!-- IN STOCK feature -->
          <h3 id="in-stock">IN STOCK</h3>
        </div>


        <div class="buy-and-heart-button">
          <!-- Buy button-->
          <button class="buy-button">Buy Now</button>

          <!-- Heart button-->
          <form method="post" action="/api/favourites">
            <input type="hidden" value="<%= product["id"]%>" name="productId" />
            <button class="heart-button"id="notLiked"><i class="fa-regular fa-heart fa-2xl" style="font-size: 20px;"></i></button>
            <!-- <i id="liked" class="fa-solid fa-heart fa-2xl"fa-2xl></i> -->
          </form>
        </div>

        <br>

        <!-- Display the description -->
        <p><%= product["description"] %></p>

        <!-- Display the date posted -->
        <p>Date Posted: <%= product["date_posted"].toDateString() %></p>

        <br>

        <!-- Mark as Sold button -->
        <% if(isAuthorized){ %>
          <button id="isSold" style="width: 120px">Mark as Sold</button>
        <% } %>

        <br>

        <!-- Remove Product button -->
        <% if(isAuthorized){ %>
        <div class="remove-product">
        <form id="del" action="/api/products/delete" method="post">
          <input type="hidden" value="<%= product["id"]%>" name="productId" />
          <button type="submit">Remove product</button>
        </form>
        </div>
        <% } %>

        <!-- Send Message button -->
        <div class="new-message">
          <h3>Message Seller</h3>
          <form id="messsage-form" action="/api/messages" method="post">
            <textarea class="text-box" name="text" rows="1" cols="50"></textarea>
            <input type="hidden" value="<%= userId %>" name="userid" />
            <input type="hidden" value="<%=productid%>" name="productid" />
            <button type="submit">Send</button>

          </form>
          <div class="message-container">
            <ul id="list-messages"></ul>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
